/* modal.css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 16px;
  background-color: #fff; /* Adicionei um fundo branco para melhor visibilidade */
}

.modal-button {
  display: inline-block;
  margin-right: 10px; /* Adiciona espaçamento à direita dos botões */
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins", sans-serif; /* Substitua 'Poppins' pela fonte desejada */
}

.modal-button:hover {
  background-color: #0056b3;
}
